// タイトル・作品リスト

// タイトル
.title.bg{
  background: url("../img/deco-search-bg.svg") no-repeat;
    background-position: right 36px top 194px;
}
@media(max-width: 960px){
  .title.bg{
    background-size: 180px;
    background-position: right -4px top 210px;
  }
}
.title{
  max-width: 68%;
  margin: 0 auto;
  position: relative;
  &__head{
    padding-top: 120px;
    font-size: 6rem;
    font-family: $mplus;
    line-height: 1;
    span{
      font-size: 2.2rem;
      color: #fff;
    }
  }
}
// 検索欄
.work-search{
  margin-top: 78px;
  padding-bottom: 64px;
  &__bar{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 26px;
    border-radius: 2rem;
    background-color: #fff;
    input{
      width: 70%;
      margin-left: 20px;
      font-size: 1.8rem;
      font-family: $mplus;
    }
  }
  &__img{
    position: absolute;
    top: 204px;
    right: 97px;
  }
}
@media (max-width: 1280px){
  .title.bg{
    background-position: right 36px top 172px;
  }
  .work-search{
    &__bar{
      padding: 10px 16px; 
    }
    &__img{
      top: 180px;
    }
  }
}
@media (max-width: 960px){
  .work-search__img{
    width: 110px;
    top: 196px;
    right: 30px;
  }
}
@media (max-width: 600px){
  .title.bg{
    background: none;
  }
  .work-search__img{
    display: none;
  }
}


// 作品リスト
.workList{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  max-width: 68%;
  margin: 0 auto;
  &.no{
    height: 0;
  }
}
.workList .work{
  width: 30%;
  margin-bottom: 86px;
  position: relative;
  bottom: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  &__thumb img{
    display: block;
    width: 100%;
    border-radius: 0.4rem;
  }
  &__title{
    margin: 18px 0;
    padding: 0 18px;
    font-family: $mplus;
    font-size: 1.6rem;
  }
  &__info{
    display: flex;
    justify-content: space-between;
    margin: 0 18px 18px;
    padding-top: 12px;
    border-top: solid 1px $light;
  }
  &__btn{
    position: absolute;
    right: -14px;
    top: -14px;
  }
}
@media (max-width: 960px){
  .workList .work{
    width: 48%;
  }
  .workList{
    max-width: 86%;
  }
}
.work-info__prof{
  display: flex;
  align-items: center;
  span{
    margin-left: 12px;
    font-size: 1.2rem;
    font-family: $mplus;
    color: $gray;
  }
}
.work-info__comment{
  display: flex;
  align-items: center;
  color: $blue;
  font-family: $asap;
  font-size: 1.8rem;
  &::before{
    width: 20px;
    height: 14px;
    margin-right: 4px;
    content: '';
    display: block;
    background: url("../img/icon-comment.svg") no-repeat;
  }
}
@media (min-width: 1500px){
  .workList .work__title{
    font-size: 2.2rem;
  }
}
