// 部品 ( アイコン・ボタン )
.icon{
  img{
    border: solid 3px $thin;
    border-radius: 1.8rem;
  }
}
.icon-mini{
  width: 24px;
  height: 24px;
  img{
    width: 100%;
    border-radius: 0.4rem;
  }
}

// ボタン
.btn{
  border-radius: 2rem;
  text-align: center;
  font-family: $mplus;
  &--blue{
    background: $blue;
    color: #fff;
  }
  &--yellow{
    background: $yellow;
    color: #fff;
  }
}
// ベースボタン
.guest .btn{
  @include baseBtn();
}
.btn-post{
  @include baseBtn(200px,38px,1.4rem);
}
.form-content__btn{
  @include baseBtn(372px,44px ,1.4rem);
}
.btn-edit{
  @include baseBtn(200px,38px,1.4rem);
  background: $thin;
  img{
    position: relative;
    top: 50%;
    right: 6px;
    transform: translateY(-50%)
  }
}
.btn-cancel{
  @include baseBtn(150px,38px,1.6rem);
  border: solid 1px $black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.btn-preser{
  @include baseBtn(150px,38px,1.6rem);
  border: solid 1px $blue;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
@media( max-width: 1280px ){
  .btn-edit{
    width: 170px;
  }
  .btn-cancel{
    width: 110px;
  }
  .btn-preser{
    width: 110px;
  }
}



// 削除ボタン
.btn-modal-close{
  @include closeBtn(40px,4px,#fff );
}
.btn-menu-close{
  display: none;
  @include closeBtn(18px,4px,$black );
}
@media (max-width: 960px){
  .btn-menu-close{
    display: block;
  }
}

// ハンバーガーメニュー
.btn-humb{
  display: none;
  cursor: pointer;
  span{
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 8px;
  background: $blue;
  }
}
@media (max-width: 960px){
  .btn-humb{
    display: block;
  }
}

// view moreボタン
.btn-view{
  display: block;
  margin: 0 auto 100px;
  padding: 16px 120px;
  background: $thin;
  color: $blue;
  position: relative;
  font-family: $asap;
  font-size: 2.2rem;
  font-weight: bold;
  border-radius: 3rem;
  &::before,&::after{
    display: block;
    content: '';
    width: 10px;
    height: 2px;
    border-radius: 1rem;
    background: $blue;
    position: absolute;
    right: 100px;
    top: 54%;
  }
  &::before{
    transform: rotate(45deg);
  }
  &::after{
    right: 94px;
    transform: rotate(-45deg);
  }
}

//  作品追加ボタン
.btn-add{
  position: fixed;
  right: 8%;
  bottom: 60px;
  text-align: center;
  &__deco{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 116px;
    margin: 0 auto;
    border-radius: 50%;
    background: $blue;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    span{
      display: block;
      width: 50%;
      height: 4px;
      background: #fff;
      position: absolute;
      &:last-child{
        transform: rotate(90deg);
      }
    }
  }
  &__txt{
    display: block;
    margin-top: 14px;
    font-size: 2rem;
    color: $blue;
    font-family: $mplus;
  }
}
@media (max-width: 1280px){
  .btn-add__deco{
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 960px){
  .btn-add__deco{
    width: 80px;
    height: 80px;
  }
}

// コメント返信ボタン
.btn-reply{
  color: $blue;
  font-size: 1.4rem;
}

// コメント送信ボタン
.btn-submit{
  width: 70px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: $thin;
  color: $gray;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

.btn-logout{
  color: $gray;
  font-size: 1.4rem;
  img{
    opacity: 0.8;
    margin-right: 8px;
  }
}

// mypage
.btn-delete{
  width: 130px;
  height: 30px;
  background: $red;
  color: #fff;
  border-radius: 0.5rem;
  font-family: $mplus;
  font-size: 1.4rem;
}
.btn-erasure{
  display: none;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 1rem;
  background: $red;
  &::before,
  &::after{
    display: block;
    content: '';
    width: 26px;
    height: 4px;
    border-radius: 2rem;
    background: #fff;
    position: absolute;
  }
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }
  &.on{
    display: flex;
  }
}


 // ホバー
.btn--blue,
.guest p,
.logo,
.btn-view,
.btn-delete,
.work,
.btn-add__deco,
.btn-logout,
.btn-logout img{
  transition: ease 0.2s;
}

.btn--blue:hover{
  background: #155DFF;
  box-shadow: 0 6px 30px rgba(0,0,0,0.3);
}
.guest p:hover,
.logo:hover{
  opacity: 0.5;
}
.btn-view:hover,
.btn-delete:hover{
  box-shadow: 0 9px 30px rgba(0,0,0,0.14);
}
.workList .work:hover{
  box-shadow: 0 9px 30px rgba(0,0,0,0.14);
  bottom: 10px;
}
.btn-add:hover{
  .btn-add__deco{
    background: #155DFF;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  }
}
.btn-logout:hover{
  color: $black;
  img{
    opacity: 1;
  }
}