// 部品 ( アイコン・ボタン )
.icon{
  img{
    border: solid 3px $thin;
    border-radius: 1.8rem;
  }
}

.icon-mini{
  width: 24px;
  height: 24px;
  img{
    width: 100%;
    border-radius: 0.4rem;
  }
}

.btn{
  border-radius: 2rem;
  text-align: center;
  font-family: $mplus;
  &--blue{
    background: $blue;
    color: #fff;
  }
  &--yellow{
    background: $yellow;
    color: #fff;
  }
}

// view moreボタン
.btn-view{
  display: block;
  margin: 0 auto 100px;
  padding: 16px 120px;
  background: $thin;
  color: $blue;
  position: relative;
  font-family: $asap;
  font-size: 2.2rem;
  font-weight: bold;
  border-radius: 3rem;
  &::before,&::after{
    display: block;
    content: '';
    width: 10px;
    height: 2px;
    border-radius: 1rem;
    background: $blue;
    position: absolute;
    right: 100px;
    top: 54%;
  }
  &::before{
    transform: rotate(45deg);
  }
  &::after{
    right: 94px;
    transform: rotate(-45deg);
  }
}

//  作品追加ボタン
.btn-add{
  position: fixed;
  right: 110px;
  bottom: 110px;
  text-align: center;
  &__deco{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 116px;
    margin: 0 auto;
    border-radius: 50%;
    background: $blue;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    span{
      display: block;
      width: 58px;
      height: 4px;
      background: #fff;
      position: absolute;
      &:last-child{
        transform: rotate(90deg);
      }
    }
  }
  &__txt{
    display: block;
    margin-top: 14px;
    font-size: 2rem;
    color: $blue;
    font-family: $mplus;
  }
}

// モーダル削除ボタン
.btn-modal-close{
  position: absolute;
  top: 40px;
  right: 60px;
  &::before,
  &::after{
    display: block;
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 2rem;
    background: #fff;
    position: absolute;
  }
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }
}

// mypage
.btn-edit{
  width: 200px;
  margin-bottom: 10px;
  background: $thin;
  font-size: 1.4rem;
  img{
    margin-right: 4px;
  }
}
.btn-cancel{
  border: solid 1px $black;
}
.btn-preser{
  border: solid 1px $blue;
}
.btn-cancel,.btn-preser{
  width: 150px;
  font-size: 1.6rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.btn-delete{
  width: 130px;
  background: $red;
  color: #fff;
  border-radius: 0.5rem;
  font-family: $mplus;
  font-size: 1.4rem;
}
.btn-erasure{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 1rem;
  background: $red;
  &::before,
  &::after{
    display: block;
    content: '';
    width: 26px;
    height: 4px;
    border-radius: 2rem;
    background: #fff;
    position: absolute;
  }
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }
}

// 作品投稿ボタン
.btn-post{
  width: 200px;
  padding: 10px 0;
}
 