// 共通
html,body{
  width: 100%;
  height: 100%;
}
html{
  font-size: 62.5%;
}
// 編集画面
body{
   background: $bg;
  //  overflow: hidden;
  //  &::before{
  //   display: block;
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   z-index: 1;
  //   background: rgba(255,255,255,0.7);
  // }
}

a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
*{
  color: $black;
}
img{
  vertical-align: bottom;
}