// 変数ファイル

// 背景色
$bg : #fafafa;
// メインカラー
$blue : #5082F4;
// アクセントカラー
$yellow : #FFE000;
// キーカラー
$red : #F45050;

// 基本文字色
$black : #414141;
// 長文
$gray : #9A9A9A;
// 薄文字 
$light : #BCBCBC;
// #C4C4C4

// 一番薄い
$thin : #e8e8e8;
// #F4F4F4

// M PLUS 1p
$mplus : 'M PLUS 1p',sans-selif;

// Asap
$asap : 'Asap',sans-serif;